name: Render Quarto Report

on:
  push:
    branches: [main]

jobs:
  render:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install R packages
        run: install.packages("rmarkdown")
        shell: Rscript {0}

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render report
        run: quarto render report.qmd

      - name: Upload HTML
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: report.html